<h1>List: <%= @list.id %></h1>

<br><br>
<%= @list.list_title %>

<a href="/lists/<%=@list.id%>/edit">Edit Title</a>

<br><br>
<a href='/lists' class='btn btn-primary' role='button'>All Lists</a>

<form action="/lists/<%=@list.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="btn btn-primary" type="submit" value="Delete List">
</form>