<h1>Create Account</h1>

<form action="/signup" method="post">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="username" value=""><br><br>
  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="email" value=""><br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="password" value=""><br><br>
  <input type="submit" class="btn btn-primary" value="Create Account">
</form>

<br>
<a href="/login">Click here if you already have an account</a>