<h1>Welcome, <%= @user.username %></h1>
<h4>You can find all of your comics here:</h4>
<% @user.comics each do |comic| %>
<ol>
  <li><a href="/comics/<%=comic.id%>"><%= comic.title %></a></li>
</ol>
<% end %>