<div class="center jumbotron">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Welcome to the Comiks Tracker</h1>
      <p class="text-center"> This is an inventory tracker for all things media - including music, comics, and video!
      <p class="text-center"><a class="btn btn-primary btn-lg" href='/signup' role="button">Signup</a>
      <a class="btn btn-primary btn-lg" href='/login' role="button">Login</a></p>
    </div>
  </div>
</div>
